*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
}
.left-part{
    height: 100vh;
    width: 60vh;
    background:linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(./left-img.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
h1{
    font-size: 3rem;
    text-align: center;
    font-family:'Gugi', cursive; 
    color: rgb(166, 166, 232);
}
.time{
    color:aliceblue;
    font-size: 1.2rem;
    font-family: 'Sniglet', cursive;
}
.start{
    height: 3rem;
    width:6rem;
    font-size: 1.5rem;
    font-weight: 550;
    color: white;
    background-color: gold;
    border-radius: 5px;
    border-style:none;
    cursor: pointer;
}
.start:hover{
    background: green;
    color: aliceblue;
    transition: 0.3s;
}
.caution{
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    width: 20rem;
    line-height: 1.5rem;
}
.main-part{
    height: 100vh;
    width:fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
}

.visual{
    height: 50vh;
    width:160vh;
    font-size: 3.2rem;
    font-weight: 550;
    color: rgb(18, 50, 88);
    background-color: rgb(80, 170, 127);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logic{
    height: 50vh;
    width:160vh;
    background-color: rgb(26, 41, 81);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.condition{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.num{
    height: 5rem;
    width: 5rem;
    color: rgb(195, 46, 46);
    background-color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    border-radius: 10px;
}
.symbol{
    font-size: 8rem;
    font-weight: 800;
    color: rgb(217, 255, 0);
}
